/* ---------- Шрифты----------------*/

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"); /* Modern Browsers */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"); /* Modern Browsers */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"); /* Modern Browsers */
}

/* ---------- Пока не понял, что это, но нужно ----------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ---------- Скрываем заголовки ----------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------- Цвета ----------------*/
:root {
  --grey: #c1c1c1;
  --light-grey: #eeeeee;
  --medium-grey: #dfdfdf;
  --dark-grey: #d5d5d5;
  --black: #000000;
  --light-red: #fb565a;
  --medium-red: #e74246;
  --dark-red: #d7373b;
  --light-yellow: #efc849;
  --medium-yellow: #eab534;
  --dark-yellow: #e5a722;
  --light-green: #00ca74;
  --medium-green: #00bc6c;
  --dark-green: #00aa62;
  --white: #ffffff;
  --dark: #283136;
  --medium-dark: #444444;
  --light-dark: #666666;
  --for-shop: #4d4d4d;
  --extra-light-grey: #dfdfdf;
  --twice-extra-light-grey: #d5d5d5;
  --color-1: #d7dcde;
  --color-2: #b4b9bb;
  --color-3: #f1f1f1;
  --color-4: #ababab;
  --color-5: #cfcfcf;
  --color-6: #e1e1e1;
}

html {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: var(--light-grey);
  padding-top: 50px;
}

/* ---------- Навигация и шапка ----------------*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  min-width: 160px;
  height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 1;
}

.main-header-logo-catalog:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 26px;
  padding-right: 38px;
}

.user-navigation {
  margin-top: -2px;
}

.nav-link {
  display: block;
}

.nav-link.active {
  border-bottom: 2px solid var(--light-red);
  padding-bottom: 13px;
}

.bin.active {
  border-bottom: 2px solid var(--light-red);
  padding-bottom: 13px;
}

.nav-item:first-child {
  padding-right: 44px;
}
.nav-item:nth-child(2) {
  padding-right: 48px;
}

.nav-item:nth-child(3) {
  padding-right: 44px;
}

.nav-item:last-child {
  padding-right: 0px;
}

.nav-link:link {
  color: var(--black);
}

.nav-link:hover,
.nav-link:focus,
.bin:hover,
.bin:focus {
  color: var(--light-red);
}

.nav-link:active
/*.bin:active*/ {
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.bin:active::before {
  opacity: 1;
}

.bin {
  position: relative;
  padding-top: 27px;
  /*min-width: 110px;*/
  padding-left: 45px;
}

.bin::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 100px;
  top: 33px;
}

.main-title {
  text-align: center;
  min-width: 745px;
  padding-top: 69px;
  padding-bottom: 108px;
  padding-right: 257px;
  padding-left: 247px;
  min-height: 55px;
  background-color: var(--light-grey);
  letter-spacing: 1px;
}
/* ---------- Слайдер ----------------*/

.description {
  background-color: var(--light-grey);
  position: relative;
}

.description-list {
  list-style: none;
  background-color: var(--light-grey);
}

.description-item {
  background-repeat: no-repeat;
  min-width: 1157px;
  min-height: 431px;
  display: block;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-one {
  background-image: url(../img/slide1.png);
  background-position-x: 397px;
  background-position-y: 0;
}

.slider-two {
  background-image: url(../img/slide2.png);
  background-position-x: 397px;
  background-position-y: 0;
}

.slider-three {
  background-image: url(../img/slide3.png);
  background-position-x: 397px;
  background-position-y: 0;
}

.slider-controls {
  text-align: center;
  position: absolute;
  top: 316px;
  left: 50.5%;
  transform: translateX(-50%);
}

.toggle-button {
  padding: 0px;
  margin-right: 13px;
  width: 18px;
  height: 18px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.toggle-button.active::before {
  content: "";
  padding: 0px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid var(--grey);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
}

.slider-title,
.main-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.slider-title-main {
  min-width: 538px;
  padding-top: 79px;
  padding-right: 622px;
  margin-bottom: 25px;
  /*padding-left: 5px;*/
  letter-spacing: 1.1px;
}

.under-slider-main {
  min-width: 400px;
  padding-right: 740px;
  margin: 0;
  margin-bottom: 54px;
  letter-spacing: 0.3px;
  word-spacing: -1px;
}

.slider-title-second {
  min-width: 538px;
  padding-top: 78px;
  padding-right: 622px;
  margin-bottom: 37px;
}

.under-slider-second {
  min-width: 416px;
  padding-right: 740px;
  margin: 0;
  margin-bottom: 37px;
}

.slider-title-third {
  min-width: 538px;
  padding-top: 78px;
  padding-right: 722px;
  margin-bottom: 37px;
}

.under-slider-third {
  min-width: 416px;
  padding-right: 800px;
  margin: 0;
  margin-bottom: 42px;
}

/* ---------- Кнопки ----------------*/
.button {
  min-width: 160px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background: var(--light-red);
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 39px;
  padding-right: 40px;
}

.slider-button {
  min-width: 240px;
  text-transform: none;
  padding-left: 53px;
  padding-right: 54px;
}

.button:hover,
.button:focus {
  background-color: var(--medium-red);
}

.button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.green-button {
  background: var(--light-green);
  min-width: 160px;
}

.green-button:hover,
.green-button:focus {
  background: var(--medium-green);
}

.green-button:active {
  background: var(--dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow-button {
  background: var(--light-yellow);
  min-width: 160px;
}

.yellow-button:hover,
.yellow-button:focus {
  background: var(--medium-yellow);
}

.yellow-button:active {
  background: var(--dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.write-us-button {
  min-width: 219px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 47px;
  padding-left: 44px;
  padding-right: 44px;
  margin-left: 50px;
}

/* ---------- Услуги ----------------*/

.services {
  padding-top: 80px;
  padding-bottom: 95px;
}

.service-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  align-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--black);
  margin: 0;
  padding-top: 18px;
  margin-bottom: 16px;
}

.service-item:first-child .service-title {
  letter-spacing: -1.1px;
}

.service-item:nth-child(2) .service-title {
  letter-spacing: -0.5px;
}

.service-item:last-child .service-title {
  letter-spacing: -0.8px;
}

.service-description {
  margin: 0;
  margin-bottom: 46px;
}

.service-item:first-child .service-description {
  letter-spacing: 0.2px;
}

.service-item:nth-child(2) .service-description {
  word-spacing: 0.1px;
  letter-spacing: 0.1px;
}

.service-item:last-child .service-description {
  word-spacing: -0.8px;
  letter-spacing: 0.4px;
}

/* ---------- Горизонтальные разделители ----------------*/

.border {
  position: relative;
}

.border::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 20px;
  right: 20px;
  border: 1px solid var(--light-grey);
}

.main-partners.border::after {
  bottom: 4px;
}

/* ---------- О компании ----------------*/

.about-company {
  display: flex;
  align-items: start;
  list-style: none;
  min-width: 1200px;
  padding-bottom: 53px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.about-description {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--black);
  min-width: 651px;
  margin: 0;
  padding-top: 72px;
  margin-bottom: 33px;
  padding-right: 45px;
  letter-spacing: 0.9px;
  /*word-spacing: 2px;*/
}

.about-list {
  display: flex;
  align-items: stretch;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 32px;
}

.about-about {
  margin: 0;
  min-width: 646px;
  margin-bottom: 42px;
  padding-right: 155px;
  letter-spacing: 0.3px;
  word-spacing: -0.5px;
}

.about-item {
  min-width: 399px;
  margin-bottom: 24px;
  padding-left: 4px;
  position: relative;
}

.about-item:first-child {
  word-spacing: 2px;
  letter-spacing: -0.2px;
}

.about-item:nth-child(2) {
  word-spacing: -0.1px;
  letter-spacing: 0.1px;
}

.about-item:last-child {
  word-spacing: -0.1px;
  letter-spacing: 0.1px;
}

.about-item::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -32px;
  width: 25px;
  border: 1px solid var(--light-red);
}

.about-list-header {
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 306px;
  letter-spacing: -0.7px;
  word-spacing: 0.5px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  min-width: 374px;
  min-height: 412px;
  padding-top: 37px;
}

.table img {
  padding-left: 14px;
  margin-bottom: 38px;
}

.table-header {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  min-width: 358px;
  margin-bottom: 28px;
  padding-left: 22px;
  word-spacing: -0.4px;
  letter-spacing: -0.4px;
}

.table-item-description {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
  /*margin-bottom: 10px;*/
  padding-left: 13px;
  padding-bottom: 8px;
}

.table-item-description:nth-child(2){
  padding-left: 18px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--black);
  font-size: 60%;
}

.table-item {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  max-height: 37px;
  padding-left: 10px;
}

.table-item:first-child {
  max-width: 119px;
  padding-left: 11px;
}

.table-item:nth-child(2) {
  max-width: 125px;
  padding-left: 15px;
}

.table-item:last-child {
  max-width: 135px;
}

/* ---------- Партнеры ----------------*/

.main-partners {
  padding-top: 46px;
  padding-bottom: 44px;
  margin-bottom: 80px;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.partner-one {
  padding-left: 31px;
  padding-right: 95px;
}

.partner-two {
  padding-right: 104px;
}

.partner-three {
  padding-right: 120px;
}

.partner-four {
  padding-right: 43px;
}

.partner {
  opacity: 0.2;
}

.partners-item {
  position: relative;
}

.partners-item:nth-child(1) {
  margin-top: 6px;
}

.partners-item:nth-child(2) {
  margin-top: -3px;
}

.partners-item:nth-child(3) {
  margin-top: -8px;
}

.partners-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 52px;
  border-right: 2px solid var(--light-grey);
  right: 70px;
}

.partners-item:nth-child(1)::after {
  bottom: 20px;
  right: 45px;
}

.partners-item:nth-child(2)::after {
  bottom: 30px;
  right: 56px;
}

.partners-item:nth-child(3)::after {
  bottom: 10px;
  right: 62px;
}

.partner:hover,
.partner:focus {
  opacity: 1;
}

.partner:active {
  opacity: 0.1;
}

/* ---------- Контакты ----------------*/

.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 90px;
}

.catalog-contacts {
  padding-top: 60px;
}

.contact-us {
  width: 319px;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 54px;
  transform: translateX(-580px);
  background-color: var(--white);
}

.contacts-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 23px;
  margin-top: 0;
  padding-top: 45px;
  padding-left: 50px;
  /*padding-right: 76px;*/
  word-spacing: -5.7px;
  letter-spacing: -0.2px;
}

p.address {
  margin-top: 0;
  margin-bottom: 18px;
  padding-left: 50px;
  padding-right: 39px;
}

a.address {
  display: block;
  margin-bottom: 37px;
  padding-left: 50px;
  padding-right: 39px;
  letter-spacing: 0.4px;
}

.address {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-dark);
  min-width: 230px;
}

/* ---------- Footer ----------------*/

.main-footer {
  display: flex;
}

.social-list {
  list-style: none;
  margin: 0;
  display: flex;
  /*margin-bottom: 68px;*/
  padding: 0;
}

.social-item:first-child{
  padding-right: 12px;
}

.social-item:nth-child(2){
  padding-right: 10px;
}

.social-icon {
  min-width: 78px;
  height: 78px;
  background-color: var(--color-6);
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  /*margin-right: 9px;
  margin-top: 90px;*/
}

.vk img {
  padding-top: 32px;
  padding-bottom: 31px;
  padding-left: 25px;
  padding-right: 27px;
  box-sizing: content-box;
}

.fb img {
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 33px;
  padding-right: 33px;
  box-sizing: content-box;
}

.insta img {
  padding-top: 29px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 29px;
  box-sizing: content-box;
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--medium-red);
}

.social-icon:active {
  background: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.friendship {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
  padding-left: 143px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 7px;
  min-width: 660px;
  /*padding-top: 93px;*/
  letter-spacing: -1px;
  word-spacing: 2px;
}

.offer {
  font-size: 16px;
  line-height: 22px;
  color: var(--medium-dark);
  padding-left: 141px;
  min-width: 373px;
  margin: 0;
}

/* ---------- Попап ----------------*/

.popup {
  width: 960px;
  min-height: 590px;
  position: fixed;
  top: calc(50% - 295px);
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
  padding: 68px 100px 84px;
  letter-spacing: -1px;
}

.popup-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.popup-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.popup-header {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--black);
  text-align: left;
  margin: 0;
  margin-bottom: 37px;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.popup-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 33px;
}

.email {
  padding-left: 40px;
}

textarea {
  min-width: 760px;
  max-height: 118px;
  margin-bottom: 13px;
  margin-right: 99px;
}

.popup-button,
.catalog-button {
  border: none;
}

.popup-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  margin-bottom: 8px;
  letter-spacing: -0.1px;
}

.popup-item textarea{
  letter-spacing: -0.2px;
}

.popup-button {
  min-width: 259px;
  padding-left: 83px;
  padding-right: 83px;
}

.close-button {
  opacity: 0.3;
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 21px;
  height: 3px;
  background-color: var(--light-red);
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.close-button:hover,
.close-button:focus {
  color: var(--light-red);
  opacity: 1;
}

.close-button:active {
  color: var(--light-red);
  opacity: 0.1;
}

input[type="text"],
input[type="email"] {
  min-width: 360px;
}

input[type="text"],
textarea{
  letter-spacing: 0.1px;
}

input[type="text"],
textarea,
input[type="email"] {
  font-size: 16px;
  line-height: 18px;
  mix-blend-mode: normal;
  opacity: 0.5;
  color: var(--medium-dark);
  padding: 16px;
  border: 1px solid var(--color-1);
  box-sizing: border-box;
  border-radius: 3px;
}

textarea {
  padding-left: 17px;
}

input[type="text"]:hover,
textarea:hover,
input[type="email"]:hover {
  border: 1px solid var(--color-2);
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus {
  opacity: 1;
  border: 1px solid var(--black);
}

/* ---------- Фильтр и каталог ----------------*/

.text-form {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}

.sort-container .text-form {
  letter-spacing: -0.6px;
}

.text-for-form {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
  letter-spacing: 0.4px;
}

.text-for-form:disabled {
  opacity: 0.3;
}

.form-page {
  width: 25.5%;
  /*max-height: 780px;*/
  display: flex;
  padding-right: 140px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: content-box;
  margin-bottom: 2px;
}

.range-filter {
  width: 260px;
  box-sizing: content-box;
  margin-bottom: 54px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: content-box;
  letter-spacing: -0.4px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--color-3);
  border-radius: 5px;
  margin-bottom: 17px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: content-box;
}

.range-controls .scale {
  height: 2px;
  background: var(--color-1);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--color-4);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--color-5);
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 8px;
  padding-right: 1px;
  padding-left: 15px;
  margin-left: 10px;
  text-align: center;
  color: var(--dark);
  border: none;
  border-radius: 5px;
  background: var(--color-3);
  font-family: inherit;
  font-size: inherit;
}

.radio-item {
  margin-bottom: 28px;
  border: none;
  padding: 0;
  padding-left: 0;
  letter-spacing: -1.4px;
  margin-left:0;
  margin-right:0;
}

.radio-form {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radiobox-line {
  padding-bottom: 16px;
}

.radio {
  padding-left: 35px;
}

.radio_input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radio_box {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -35px;
  background-image: url(../img/radio-off-quiet.svg);
  background-repeat: no-repeat;
}

.radio_input:checked + .radio_box {
  background-image: url(../img/radio-on-quiet.svg);
  background-repeat: no-repeat;
}

.radio_input:hover + .radio_box,
.radio_input:focus + .radio_box {
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.radio_input:checked:hover + .radio_box,
.radio_input:checked:focus + .radio_box {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.radio_input:disabled + .radio_box {
  background-image: url(../img/radio-off-disabled.svg);
  background-repeat: no-repeat;
}

.radio_input:checked:disabled + .radio_box {
  background-image: url(../img/radio-on-disabled.svg);
  background-repeat: no-repeat;
}

.checkbox-item {
  border: none;
  padding: 0;
  letter-spacing: -1.3px;
  margin-left: 0;
  margin-right: 0;
}

.checkbox-form {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.checkbox-line {
  padding-bottom: 16px;
}

.checkbox-line:nth-child(3) {
  padding-bottom: 15px;
}

.check {
  padding-left: 36px;
  letter-spacing: 0.1px;
}

.check_input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check_box {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -36px;
  background-image: url(../img/checkbox-off-quiet.svg);
  background-repeat: no-repeat;
}

.check_input:checked + .check_box {
  background-image: url(../img/checkbox-on-quiet.svg);
  background-repeat: no-repeat;
}

.check_input:hover + .check_box,
.check_input:focus + .check_box {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check_input:checked:hover + .check_box,
.check_input:checked:focus + .check_box {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.check_input:disabled + .check_box {
  background-image: url(../img/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
}

.check_input:checked:disabled + .check_box {
  background-image: url(../img/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
}

.main-section {
  display: flex;
}

.main-filter {
  padding-top: 57px;
}

.sort-catalog {
  padding-top: 55px;
  width: 765px;
  margin-bottom: 64px;
}

.sort-container {
  max-height: 31px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.main-sort {
  display: flex;
  padding-top: 2px;
}

.sort {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.sort-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  opacity: 0.3;
  padding-right: 23px;
  word-spacing: -0.6px;
}

/*.sort-link:last-child {
  padding-right: 29px;
}*/

.sort-link:hover,
.sort-link:focus {
  opacity: 0.6;
}

.sort-link:active {
  opacity: 1;
}

.sort-link.active {
  color: var(--black);
  opacity: 1;
}

.up-down {
  padding-left: 11px;
}

.up-down button {
  padding: 0px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  opacity: 0.2;
  border: none;
}

.down {
  background-image: url(../img/icon-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.up {
  background-image: url(../img/icon-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.up:hover,
.down:hover,
.up:focus,
.down:focus {
  opacity: 0.6;
}

.up:active,
.down:active {
  opacity: 1;
}

.triangle.active {
  color: var(--black);
  opacity: 1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 765px;
  margin-bottom: 22px;
}

.catalog {
  min-width: 720px;
  padding: 0;
}

.catalog-item {
  margin-bottom: 32px;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0 0 7px 7px;
}

.catalog-item:nth-child(2n-1) {
  margin-right: 41px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background-image: url(../img/browser1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 1px;
  opacity: 0.12;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  opacity: 1;
}

.catalog-item:hover .product-info,
.catalog-item:focus .product-info {
  display: block;
}

.catalog-item img {
  min-width: 360px;
  border-radius: inherit;
}

.filter-button {
  min-width: 260px;
  padding-left: 88px;
  padding-right: 89px;
  background-color: var(--light-grey);
  color: var(--black);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.catalog-button {
  min-width: 260px;
  background-color: var(--light-grey);
  color: var(--black);
  padding-left: 78px;
  padding-right: 77px;
}

.catalog-button:hover,
.catalog-button:focus,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--extra-light-grey);
}

.catalog-button:active,
.filter-button:active {
  background-color: var(--twice-extra-light-grey);
}

.product-item-info:link {
  color: var(--black);
}

.product-name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  /*padding-top: 28px;*/
  margin-bottom: 12px;
  padding-left: 3px;
  letter-spacing: -1.1px;
}

.product-name:hover,
.product-name:focus {
  color: var(--light-red);
}

.product-name:active {
  opacity: 0.3;
  color: var(--black);
}

.product-info {
  min-width: 360px;
  max-height: 619px;
  background-color: var(--light-grey);
  max-height: 580px;
  box-sizing: content-box;
  position: absolute;
  top: 388px;
  border-radius: 0 0 7px 7px;
  display: none;
  border-radius: inherit;
  padding: 26px 0px 44px;
}

.product-item-info {
  padding-left: 145px;
  padding-right: 144px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.product-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-dark);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 255px;
  margin: 0;
  padding-left: 47px;
  padding-right: 53px;
  margin-bottom: 48px;
  box-sizing: content-box;
  letter-spacing: -0.6px;
  word-spacing: 5.1px;
}

.price-button {
  min-width: 250px;
  padding-left: 71px;
  padding-right: 81px;
  margin-left: 80px;
}

/*.pagination {
  margin-bottom: 80px;
}*/

.pagination-item {
  min-width: 50px;
  min-height: 50px;
  background-color: var(--light-grey);
  color: var(--black);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}

.pagination-item:hover,
.pahination-item:focus {
  background-color: var(--extra-light-grey);
}

.pagination-item:active {
  background: var(--dark-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.pagination-item.active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--dark-grey);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 14px 17px 12px;
}

/* ---------- Карта ----------------*/

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}

/*.map img {
display: block;
}*/

.map iframe {
  border: none;
}

/* --------Анимация----- */

@keyframes bounce {
  0% {
      transform: translateY(-2000px);
  }

  70% {
      transform: translateY(30px);
  }

  90% {
      transform: translateY(-10px);
  }

  100% {
      transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
      transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
      transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
      transform: translateX(10px);
  }
}
