@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --light-grey: #EEEEEE;
  --medium-grey: #DFDFDF;
  --dark-grey: #D5D5D5;
  --black: #000000;
  --light-red: #FB565A;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --light-yellow:#EFC849;
  --medium-yellow:#EAB534;
  --dark-yellow: #E5A722;
  --light-green: #00CA74;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --white: #FFFFFF;
  --dark:#283136;
  --medium-dark: #444444;
  --light-dark: #666666;
  --for-shop: #4d4d4d;
  --extra-light-grey: #DFDFDF;
  --for-page-change-shop: #DBDBDB;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
font-size: 16px;
line-height: 30px;
color: var(--black);
background-color: var(--light-grey);
text-transform: uppercase;
margin: 0;
padding: 0;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover {
  color: var(--light-red);
}

.site-navigation a:active {
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.description-list {
  list-style: none; 
  background-color: var(--light-grey);
  margin: 0;
  padding: 0;
}

.slider-title, .main-title {
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  margin: 0;
}

.slider-button {
  width: 240px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  background: var(--light-red);
  border-radius: 3px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 52px;
  padding-right: 56px;
}

.slider-button:hover  {
  background-color: var(--medium-red);
}

.slider-button:active  {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-list {
  list-style: none; 
  margin: 0;
  padding: 0;
}

/**стили для  разграничительной полосы**/
|/**.services-section-border {
  border-bottom-color: var(--light-grey);
  border-bottom-style: solid;
  border-bottom-width: 2;
  margin-left: 140px;
  margin-right: 142px;**/ 
}

.service-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;   
  color: var(--black);
}

.order-button {
  width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: var(--white);  
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 40px;
}

.red-button {
  background: var(--light-red);
}

.red-button:hover {
  background-color: var(--medium-red);
}

.red-button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.green-button {
  background: var(--light-green);
}

.green-button:hover {
  background: var(--medium-green);
}

.green-button:active {
  background: var(--dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow-button {
  background: var(--light-yellow);  
}

.yellow-button:hover {
  background: var(--medium-yellow);  
}

.yellow-button:active {
  background: var(--dark-yellow); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1); 
}
/**стили для  разграничительной полосы**/
/**.company-section-border {
  border-bottom-color: var(--light-grey);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-left: 140px;
  margin-right: 142px;**/
}

.about-description {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--black);
}

.about-list-header {
  font-weight: bold;
  text-transform: uppercase;
}

.table-header {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.table-item-description {
 font-weight: bold;
 font-size: 45px;
 line-height: 64px;
 color: var(--black);
}

.table-header.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--black);
}

.table-item {
  font-size: 16px;
  line-height: 18px;  
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**стили для  разграничительной полосы**/
/**.partners-section-border {
  border-bottom-color: var(--light-grey);
  border-bottom-style: solid;
  border-bottom-width: 2;
  margin-left: 140px;
  margin-right: 142px;
  margin-bottom: 80px;**/
}

.partner {
  opacity: 0.2;
}

.partner-item-first:hover,
:focus {
  opacity:1;
}

.partner-item-second:hover,
:focus {
  opacity:1;
}

.partner-item-third:hover,
:focus {
  opacity:1;
}

.partner-item-forth:hover,
:focus {
  opacity:1;
}

.partner-item-first:active {
  opacity: 0.1;
}

.partner-item-second:active {
  opacity: 0.1;
}

.partner-item-third:active {
  opacity: 0.1;
}

.partner-item-forth:active {
  opacity: 0.1;
}

.contact-us {
  width: 319px;
  height: 308px;
  background-color: var(--white);
}

.contacts-header{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.address {
  color: var(--light-dark);
}

.write-button {
  width: 219px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--light-red);
  border-radius: 3px;
  color: var(--white);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 44px;
  padding-right: 44px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 211px;
  margin-bottom: 40px;
}

.write-button:hover  {
  background-color: var(--medium-red);
}

.write-button:active  {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1); 
}

.social-list {
  list-style:none;
  margin: 0;
  padding: 0;
}

.social-icon{
  width: 78px;
  height: 78px;
  background-color: var(--light-grey);
  border-radius: 50%;
  display: block;
}

.vk img {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 26px;
  padding-right: 27px;
}

.fb img {
  padding-top: 31px;
  padding-bottom: 28px;
  padding-left: 35px;
  padding-right: 34px;
}

.insta img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.social-icon:hover{
  background-color: var(--medium-red);
}

.social-icon:active{
  background: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.friendship {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
}

.offer {
  font-size: 16px;
  line-height: 22px;
  color: var(--medium-dark);
}

.form-write-us {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--black);
}

.contacts {
  font-weight: bold;
  color: var(--black);
}

input::-webkit-input-placeholder{
  color: var(--medium-dark);
}
 
textarea::-webkit-input-placeholder{
  color: var(--medium-dark);
}

.popup-button {
  width: 259px;
  height: 50px; 
  background-color: var(--light-red);
  border: 3px;
  color:var(--white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: var(--white); 
  text-transform: uppercase;
}

.popup-button:hover  {
  background-color: var(--medium-red);
}

.popup-button:active  {
  background-color: var(--dark-red);
}

.close-button {
  opacity: 0.3;
}

.close-button:hover {
  color: var(--light-red);
  opacity: 1;
}

.close-button:active {
  color: var(--light-red);
  opacity: 0.1;
}

.shop-border {
  border-bottom: 2px solid var(--light-red);
}

.text-form{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.product-name:hover{
  color: var(--light-red);
}

.product-name:active{
  opacity: 0.3;
  color: var(--black);
}

input[type="range"] {
  width: 260px;
  height: 80px; 
  background-color: var(--light-grey);
  border: 3px;
}

.range-text{
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--dark);
}

input[type="number"] {
  background-color: var(--light-grey);
}

.radio-form {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type="radio"]{
 width: 25px;
 height: 25px;
 opacity: 0.4;
}

input[type="radio"]:hover{
  opacity: 1;
}

input[type="radio"]:disabled{
  opacity: 0.1;
}

.text-for-form{
  font-size: 16px;
  line-height: 19px;
}

.text-for-form:disabled{
  opacity: 0.3;
}

.button{
  width: 260px;
  height: 50px; 
  background-color: var(--light-grey);
  border: 3px;
  color:var(--white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: var(--black); 
  text-align: center;
}

.button-filter {
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 77px;
  padding-right: 78px;
  }

.checkbox-form{
  list-style:none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]{
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

input[type="checkbox"]:checked{
  width: 26px;
  height: 23px;
  opacity: 0.4;
}

input[type="checkbox"]:hover{
  opacity: 1;
}

input[type="checkbox"]:disabled{
  opacity: 0.1;
}

.sort {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase; 
  opacity: 0.3;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.sort-link:focus {
  opacity: 1;
}

.triangle {
  opacity: 0.2;
  font-size: 0;
}

.triangle:hover{
  opacity: 0.5;
  font-size: 0;
}

.triangle:active,
.triangle:focus {
  opacity: 1;  
  font-size: 0;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-info {
  width: 360px;
  height: 231px;
  background-color: var(--light-grey);
}

.product-description {
  font-size: 16px;
  line-height: 18px; 
  color: var(--light-dark); 
}

.price-button {
  width: 250px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--light-red);
  border-radius: 3px;
  color: var(--white);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 72px;
  }

.price-button:hover{
  background-color: var(--medium-red);  
}

.price-button:active{
  background-color: var(--dark-red); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1); 
}

.pagination-item{
  width: 50px;
  height: 50px; 
  background-color: var(--light-grey);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  margin-right: 11px;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination-item:hover{
  background-color: var(--extra-light-grey);  
}

.pagination-item:active{
  background-color: var(--extra-light-grey);  
}

.pagination-item:focus{
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--for-page-change-shop);
  box-sizing: border-box;
}

